<section class="mt-[20px] flex flex-col justify-center items-center min-h-[100px]">
  <button (click)="router.navigateByUrl('/')" type="button"
    class="flex items-center gap-[10px] py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-orange-500 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
    <svg class="rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
      viewBox="0 0 14 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M1 5h12m0 0L9 1m4 4L9 9" />
    </svg>
    Voltar ao início
  </button>
  <main class="pt-[20px]">
    <h2 class="w-full text-center text-2xl font-light text-[#9A9286]">Quartos <span
        class="font-semibold text-orange-500">encontrados</span></h2>
  </main>

  <ng-container *ngIf="!loading; else nocontent">
    <section class="flex flex-col gap-[20px] mt-[20px] mb-[20px]">
      <ng-container *ngFor="let room of rooms">
        <app-card [room]="room"></app-card>
      </ng-container>
    </section>
  </ng-container>

  <ng-template #nocontent>
    <app-card-skeleton-loading></app-card-skeleton-loading>
    <app-card-skeleton-loading></app-card-skeleton-loading>
    <app-card-skeleton-loading></app-card-skeleton-loading>
    <app-card-skeleton-loading></app-card-skeleton-loading>
  </ng-template>

  <ng-container *ngIf="!loading && !rooms?.length">
    <app-not-found></app-not-found>
  </ng-container>
</section>