<section class="abstract"></section>
<main class="flex flex-col items-center justify-center h-[700px] gap-[20px]">
  <h1 class="w-full max-w-[200px] text-center size-[50px] font-light text-[#9A9286]">Abra mais <span
      class="font-semibold text-orange-500">conversas</span>, feche mais <span
      class="font-semibold text-orange-500">reservas</span>.</h1>
  <form [formGroup]="form" class="w-full max-w-[300px] flex gap-[10px]">
    <div>
      <label for="first_name" class="text-[#9A9286] font-medium block mb-2 text-sm dark:text-white">Quando você
        vai?</label>
      <input formControlName="checkin" type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500
        block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500
        dark:focus:border-orange-500" placeholder="YYYY-MM-DD" />
    </div>

    <div>
      <label for="first_name" class="text-[#9A9286] font-medium block mb-2 text-sm dark:text-white">Quando você
        volta?</label>
      <input formControlName="checkout" type="text" id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5
        dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500" placeholder="YYYY-MM-DD" />
    </div>
  </form>

  <button (click)="redirectToRoomsPage()" [disabled]="form.invalid" type="button" class="w-full max-w-[300px] text-white bg-orange-500 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-300
    font-medium rounded-lg text-sm px-5 py-2.5 text-center flex justify-center items-center dark:bg-orange-600 dark:hover:bg-orange-700
    dark:focus:ring-orange-800">
    Pesquisar quartos
    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
      viewBox="0 0 14 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M1 5h12m0 0L9 1m4 4L9 9" />
    </svg>
  </button>
</main>